doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Social Coding in GitHub

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-state='emphatic')
        h2 Social Coding in GitHub

      section(data-bespoke-state='emphatic')
        h2 Pengertian GitHub
        p Github adalah software hosting untuk proyek open source yang menggunakan Tool System revisi kontrol Git.
        p Dalam bahasa gaul, Github adalah jejaring social untuk software developer.

      section(data-bespoke-state='emphatic')
        h2 Fungsi GitHub
        p tempat terbaik untuk berbagi kode dengan teman-teman, rekan kerja, teman sekelas, dan orang asing. Lebih dari dua juta orang menggunakan GitHub untuk membangun hal-hal menakjubkan bersama-sama.

      section(data-bespoke-state='emphatic')
        h2 Mengenai Repository GitHub
        p Untuk membuat sebuah repository di GitHub yang perlu kita lakukan adalah login ke akun GitHub dan tekan New Repository untuk membuat repository baru. Setelah menekan tombol new repository, kamu perlu mengisi informasi tentang repository yang kamu buat. Diantaranya adalah: Nama repository, Deskripsi dan Publik / Private. Setelah itu tekan tombol create repository dan tunggu. Setelah itu kamu akan mkemiliki sebuah repository baru. Selanjutnya kita bisa membuat repository di komputer, sehingga bisa otak atik tanpa menggunakan browser dengan editor favorit.

      section(data-bespoke-state='emphatic')
        h2 Sejarah GitHub
        p Github didirikan oleh trio Chris Wanstrath (@defunkt), Tom Preston-Werner (@mojombo), dan PJ Hyett di tahun 2008. Bermula dari acara lokal meetup programmer, Tom Preston-Werner dan Chris Wanstrath bertemu dan kemudian membicarakan ide Tom tentang sebuah git hosting. Ide ini kemudian bergulir dan semakin matang setelah mereka bertemu PJ Hyett dan mempresentasikan ide mereka ini. Di tahun 2008, mereka merilis versi pertama dari Github

      section(data-bespoke-state='emphatic')
        h2 Manfaat GitHub
        p Dengan fitur kolaboratif GitHub.com, desktop dan aplikasi mobile, dan GitHub Enterprise, belum pernah lebih mudah bagi individu dan tim untuk menulis kode yang lebih baik, lebih cepat.

      section(data-bespoke-state='emphatic')
        h2 Github for Windows
        h4 Cara termuda untuk menggunakan Github di Windows
        h3.bullet <a href="https://github-windows.s3.amazonaws.com/GitHubSetup.exe">Download Github for Windows</a>
        ul
          li Stay in sync
          li Branch with ease
          li Clone with a click

      section(data-bespoke-state='emphatic')
        h2 Fitur Social di GitHub
        h4 Beberapa fitur Social di Github :
        ul
          li 
          li Follow, Kita bisa memfollow profil progammaer lain di github.
          li Star, fungsinya sama dengan Bookmark.
          li Watch, memonitor repository tertentu. Setiap ada perubahan di Repo, maka kita akan dikirim notifikasi.
          li Fork, mengcopy keseluruhan code repository ke repo kita sendiri.

      section(data-bespoke-state='emphatic')
        h2 Kolaborasi di GitHub

        p "GitHub is like Wikipedia for programmers. You can edit files, see who changed what, view old versions of files, and access it from anywhere in the world – except you’re working with source code instead of encyclopedia data. Companies use it to build software and websites, while hobbyist programmers use it to find and share projects."


      section(data-bespoke-state='emphatic')
        h2 Akun Github
        p GitHub menawarkan akun gratis bagi pengguna dan organisasi yang bekerja pada proyek-proyek open source, serta rekening yang dibayar bagi pengguna dan organisasi yang perlu repositori pribadi.
        p Go to <a href="https://github.com/pricing">GitHub's Plans & Pricing</a>

      section(data-bespoke-state='emphatic')
        h3 Beberapa Step by Step agar kita dapat Akrab dengan GitHub :
        ul
          li
          li Membuat Account baru di GitHub
          li Verifikasi Email
          li Pengaturan SSH
          li Membuat Repository Baru

      section(data-bespoke-state='emphatic')
        h3 Membuat Account baru di Github
        p Untuk memulai menggunakan Github, terlebih dahulu kita harus membuat account. Arahkan browser ke <a href="https://github.com/">http://github.com</a> dan di halaman depan sudah tersedia form yang mengajak kita untuk Sign Up ke Github Isikan username, email anda, dan password, lalu klik tombol Sign Up to Github untuk membuat account Github baru

      section(data-bespoke-state='emphatic')
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
